.book {
  @apply w-full min-h-screen py-[60px] px-[5%];



    .text {
      display: grid;
      grid-template-columns: 30% 70%;
      margin-bottom: 30px;

      @media (max-width: 1400px) {
        grid-template-columns: 40% 60%;
        gap: 30px;
      }

      @media (max-width: 1000px) {
        grid-template-columns: 100%;
      }

      @media (max-width: 850px) {
        grid-template-columns: 100%;
        gap: 40px;
      }

      @media (max-width: 600px) {
        gap: 20px;
      }

      img {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 360px;

        @media (max-width: 1000px) {
          width: 80%;
          margin: 0 auto;
        }
      }

      .desc {
        @apply flex flex-col gap-y-[30px];
        h1 {
            font-size: calc(36px + 12 * (100vw - 320px) / 1280);
            font-weight: 600;
            line-height: 130%;
          }
    
          h4 {
            font-size: calc(16px + 4 * (100vw - 320px) / 1280);
            font-weight: 400;
            line-height: 130%;
          }
    
          p {
            font-size: calc(12px + 4 * (100vw - 320px) / 1280);
            font-weight: 400;
            line-height: 150%;
          }

        .genres {
          @apply flex items-center flex-wrap gap-[8px];

          span {
            padding: 5px 12px;
            background: rgba(101, 27, 147, 0.7);
            border-radius: 100px;
            color: #fff;
            font-size: calc(8px + 4 * (100vw - 320px) / 1280);
            font-weight: 500;
            line-height: 130%;
          }
        }
      }
    }

    .audio {
      @apply flex items-center gap-[5%];


        @media (max-width: 1220px) {
          flex-wrap: wrap;
          row-gap: 30px;
        }
    
        .chapters {
          @apply w-[360px] bg-[#d7e7f8] flex flex-col gap-y-[32px] rounded-[16px] py-[16px] pr-[10px] pl-[34px];
          
          @media (max-width:600px) {
            width: 100%;  
          }

          h4 {
            font-size: calc(16px + 4 * (100vw - 320px) / 1280);
            font-weight: 500;
            line-height: 130%;
            color: #a1a1a1;
          }
    
          .chapter_wrapper {
            @apply flex flex-col relative gap-y-[32px] h-[250px] overflow-auto pr-[15px];
            
            .content {
              @apply flex items-center;
            }
            button {
              @apply bg-transparent cursor-pointer flex items-center justify-between
            }
          }
        }
    
        .player {
          @apply bg-[#d7e7f8] py-[30px] rounded-[16px] px-[40px] flex items-center justify-center w-full h-[166px];
    
          @media (max-width: 820px) {
            padding: 20px;
          }
    
          @media (max-width: 600px) {
            padding: 10px;
          }
    
          .controls {
            @apply flex items-center flex-col w-[560px];
    
            .play {
              @apply flex items-center justify-center gap-[36px] w-full;
    
              img {
                cursor: pointer;
              }
    
              svg {
                color: #2d71ae;
                font-size: 60px;
                cursor: pointer;
              }
            }
    
            .times {
              @apply flex flex-col w-full gap-y-[10px];
              .time {
                @apply w-full flex items-center justify-between;
    
                div {
                  color: #2d71ae;
                }
              }
            }
          }
    
          .volume {
            margin-left: 10%;
    
            @media (max-width: 500px) {
              margin-left: 0;
            }
    
            :nth-child(1) {
              height: 70px;
            }
          }
        }
      }
  }

