.cart-book-title {
    font-size: calc(12px + 4 * (100vw - 320px) / 1280);
    font-weight: 500;
    line-height: 150%;
    padding-right: 20px;
}

.cart-h1 {
    font-size: calc(16px + 4 * (100vw - 320px) / 1280);
    font-weight: 500;
    line-height: 130%;
}