.book_slug {
    @apply w-full min-h-screen px-[5%] py-[60px];

    .slug_wrapper {
        display: flex;
        gap: 75px;

        @media (max-width: 850px) {
            flex-direction: column;
            gap: 40px;
        }

        .slug-img {
            width: 100%;
            img {
              width: 415px;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      
              @media (max-width: 1300px) {
                width: 30vw;
              }
      
              @media (max-width: 850px) {
                width: 40vw;
              }
            }
          }

          .slug-text {
            @apply flex flex-col gap-y-[30px] w-[70%];

            @media (max-width: 850px) {
                width: 100%;
            }
          }
          
          .buttons {
              @apply flex items-center flex-wrap gap-[16px];
            }
        }
    }
    
    .comment_box {
        @apply flex gap-[24px] opacity-75 pt-[30px] px-[10%];

        @media (max-width:600px) {
            @apply px-0
        }

        .comment_name {
            @apply flex items-center gap-[14px];
            
            @media (max-width:400px) {
                @apply flex-col
            }
        }
    }


.report {
    @apply py-[30px] bg-[#d7e7f8] px-[15%];

    
    @media (max-width: 600px) {
        @apply px-[5%]
    }
    .report-head {
        @apply flex items-center gap-[30px];
        @media (max-width: 400px) {
            @apply flex-col items-start
        }
    }
    .form-item {
        @apply flex items-start justify-center gap-[24px];

        @media (max-width: 500px) {
            @apply flex-col;
        }


        .textarea {
            textarea {
                @media (max-width: 500px) {
                    margin-bottom: -24px;                    
                }
            }
        }
    }
}

.slug-h1 {
    font-size: calc(36px + 12 * (100vw - 320px) / 1280);
    font-weight: 600;
    line-height: 130%;
    word-break: break-all;
    padding-right: 30px;
}

.slug-author {
    font-size: calc(16px + 4 * (100vw - 320px) / 1280);
    font-weight: 400;
    line-height: 130%;
}

.slug-description {
    font-size: calc(12px + 4 * (100vw - 320px) / 1280);
    font-weight: 400;
    line-height: 150%;
}

.slug-price {
    font-size: calc(22px + 14 * (100vw - 320px) / 1280);
    font-weight: 600;
    line-height: 100%;
}
.slug-category {
    @apply flex items-center gap-[8px]
}

.slug-category span {
    background-color: #651b93b3;
    border-radius: 100px;
    padding: 5px 12px;
    text-align: center;
    font-size: calc(8px + 4 * (100vw - 320px) / 1280);
    font-weight: 500;
    color: #fff;
}


.vote-h4 {
    font-size: calc(16px + 4 * (100vw - 320px) / 1280);
    font-weight: 400;
    line-height: 130%;
}

.comment-h1 {
    font-size: calc(22px + 14 * (100vw - 320px) / 1280);
    font-weight: 500;
    line-height: 100%;
}

.review-h1 {
    font-size: calc(16px + 4 * (100vw - 320px) / 1280);
    font-weight: 500;
    line-height: 130%;
}

.review-text {
    font-size: calc(12px + 4 * (100vw - 320px) / 1280);
    font-weight: 400;
    line-height: 150%;
}

.report-h2 {
    text-align: center;
    font-size: calc(18px + 6 * (100vw - 320px) / 1280);
    font-weight: 500;
}

.report-btn {
    padding: 10px 24px;
    font-size: calc(12px + 4 * (100vw - 320px) / 1280);
    background: #2d71ae;
    font-weight: 600;
    line-height: 130%;
    color: #fff;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 2px 6px #ff9e301a;
}

.report-text-area {
    width: 100%;
    min-height: 80px!important;
    border-radius: 16px;
    padding: 10px 20px;
    font-size: calc(12px + 4 * (100vw - 320px) / 1280);
    font-weight: 400;
    line-height: 150%;
}

.ui-btn-action {
    @apply flex items-center gap-[10px] font-semibold leading-[130%] duration-200
}


.ui-btn-action-text {
    &:hover {
        color: #2d71ae!important;
        border-color: #2d71ae!important;
        opacity: 0.80;
    }
}

.ui-btn-cart {
    &:hover {
        color: #fff!important;
        border-color: #ff9e30!important;
        opacity: 0.80;
    }
}