.payment {
  @apply w-full h-screen;

  .payment_h1 {
    font-size: calc(22px + 14 * (100vw - 320px) / 1280);
    font-weight: 600;
    line-height: 100%;
    opacity: 0.75;
    margin: 30px 0;
  }

  h4 {
    font-size: calc(12px + 4 * (100vw - 320px) / 1280);
    font-weight: 500;
    line-height: 150%;
    padding-right: 20px;
  }

  p {
    font-size: calc(8px + 4 * (100vw - 320px) / 1280);
    font-weight: 400;
    line-height: 130%;
    color: #585858;
  }

  h2 {
    font-size: calc(16px + 4 * (100vw - 320px) / 1280);
    font-weight: 600;
    line-height: 130%;
    color: rgba(32, 32, 32, 0.75);
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 30px;
  }

  .book {
	@apply flex flex-col gap-y-[24px];
  }
}


.box {
	width: 420px;
	display: flex;
	flex-direction: column;
	padding: 24px;
	row-gap: 24px;
	border: 1px solid #83a5c8;
	border-radius: 16px;
	background: #f9fcff;

	.items {
		display: flex;
		flex-direction: column;
		row-gap: 16px;

		.item {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
			font-size: 14px;
			font-weight: 500;
			line-height: 130%;
		}
	}

	.total {
		border-top: 1px solid #d7e7f8;
		padding-top: 10px;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		font-size: calc(16px + 4 * (100vw - 320px) / 1280);
		font-weight: 400;
		line-height: 130%;
	}

	.btns {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 12px;
		.active {
			border: 2px solid #2d71ae;
		}

		button {
			display: flex;
			width: 77px;
			height: 35px;
			padding: 8.5px 16px;
			justify-content: center;
			align-items: center;
			border-radius: 100px;
			border: 1px solid #d7e7f8;
			background: #f9fcff;

			&:disabled {
				cursor: not-allowed;
			}

			&:hover {
				border: 2px solid #2d71ae;
			}
		}
	}
}

.submit {
	button {
		@apply bg-[#ffbe84] text-white flex items-center rounded-[16px] justify-center font-semibold leading-[130%] gap-[8px] w-full p-[16px];
		font-size: calc(16px + 4 * (100vw - 320px) / 1280);
	}
}
