.ant-modal-footer {
    display: none;
}
.ant-checkbox-wrapper.foo span.ant-checkbox-inner {
    border-radius: 50%;
  }

.ant-space.sp .ant-space-item {
	width: 100%;
}

.ant-modal.donModal .ant-modal-content {
	width: calc(466px + 48px);
	@media (max-width: 600px) {
			width: 95%;
			margin: 0 auto;
	}
}

.ant-input-number.inpNumber input{
	@apply text-[#585858] rounded-[16px] font-semibold text-[16px] border-[#a1a1a1] placeholder:text-[#585858]
}